@font-face {
  font-family: "GolosText";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GolosText-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GolosText-Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 375px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "GolosText", "Arial", sans-serif;
  font-size: 18px;
  line-height: 120%;
  background-color: #ffffff;
  color: #313131;

  @media (min-width: 1366px) {
    width: 1366px;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page__container {
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  background-image: url("../images/hero.png");
  margin-bottom: 48px;

  @media (min-width: 1366px) {
    background-image: url("../images/hero-descktop.png");
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
}

.header__logo {
  display: flex;
  width: 213px;
  height: 32px;
  padding-top: 17px;
  margin-left: 19px;
  margin-bottom: 42px;

  @media (min-width: 1366px) {
    width: 250px;
    height: 36px;
    padding-top: 28px;
    margin-left: 71px;
    margin-bottom: 60px;
  }
}

.header__logo-image {
  margin-left: 1px;

  @media (min-width: 1366px) {
    width: 22px;
    height: 31px;
  }
}

.header__logo-text {
  font-family: "GolosText-Bold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #595653;
  margin: 0;
  margin-left: 7px;

  @media (min-width: 1366px) {
    font-size: 17px;
    line-height: 98%;
  }
}

.header__hero {
  width: 335px;
  margin: 0 auto;

  @media (min-width: 1366px) {
    width: 542px;
    margin: 0;
    margin-left: 72px;
  }
}

.header__hero-title {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 36px;
  line-height: 111%;
  text-transform: uppercase;

  @media (min-width: 1366px) {
    font-size: 60px;
    line-height: 110%;
    margin-bottom: 24px;
  }
}

.header__hero-span1 {
  display: block;
  text-align: center;
}

.header__hero-span2 {
  display: block;
  text-align: right;
}

.header__hero-text {
  margin: 0;
  margin-bottom: 31px;
  line-height: 130%;

  @media (min-width: 1366px) {
    text-align: center;
    margin-bottom: 39px;
  }
}

.header__hero-buttons {
  display: block;

  @media (min-width: 1366px) {
    display: flex;
  }
}

.header__hero-unchor {
  display: block;
  width: 335px;
  min-height: 35px;
  font-size: 16px;
  text-decoration: none;
  background-color: #1f1f1f;
  border-radius: 24px;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 14px;
  transition: all 0.15s ease-in;

  &:hover {
    color: #1f1f1f;
    background-color: #fbce51;
    transition: all 0.15s ease-in;
  }

  @media (min-width: 1366px){
    width: 263px;
    min-height: 72px;
    box-sizing: border-box;
    border-radius: 36px;
    padding: 15px 40px 0 40px;
  }
}

.header__hero-unchor--color {
  color: #313131;
  background-color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: #1f1f1f;
    transition: all 0.15s ease-in;
  }

  @media (min-width: 1366px) {
    margin-left: 16px;
    padding: 13px 80px 0 80px;
    border: 2px solid #1f1f1f;
    background: none;

  }
}

.header__ticker,
.footer__ticker {
  display: flex;
  overflow: hidden;
  height: 38px;
  margin-top: 291px;
  color: #ffffff;
  background-color: #f54932;

  @media (min-width: 1366px) {
    height: 60px;
    margin-top: 116px;
  }
}



.header__ticker-text,
.footer__ticker-text {
  margin: 0;
  align-self: center;
  font-family: "Merriweather", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  text-transform: uppercase;

  @media (min-width: 1366px) {
    font-size: 22px;
  }
}

.lecture {
  margin-bottom: 120px;

  @media (min-width: 1366px) {
    position: relative;
    margin-bottom: 257px;
  }
}

.lecture__title {
  width: 335px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-family: "Merriweather", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 135%;
  text-transform: uppercase;

  @media (min-width: 1366px) {
    width: 800px;
    margin: 0;
    padding-top: 30px;
    margin-left: 72px;
    font-size: 36px;
  }
}

.lecture__image {
  display: block;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 26px;

  @media (min-width: 1366px) {
    position: absolute;
    top: 0;
    right: 72px;
    width: 394px;
    margin: 0;
  }
}

.lecture__text {
  display: block;
  box-sizing: border-box;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-right: 40px;
  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 28px;
  line-height: 135%;
  text-transform: uppercase;

  @media (min-width: 1366px) {
    width: 764px;
    margin: 0;
    margin-left: 60px;
    margin-bottom: 62px;
    font-size: 36px;
  }
}

.lecture__strong {
  color: #f54932;
}

.lecture__wrapper {
  @media (min-width: 1366px) {
    display: grid;
    grid-template-columns: 530px 704px;
    grid-template-rows: 147px 336px;
    gap: 16px;
    margin-left: 44px;
  }
}

.lecture__wrapper-text {
  display: block;
  box-sizing: border-box;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-right: 40px;
  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 28px;
  line-height: 135%;
  text-transform: uppercase;

  @media (min-width: 1366px) {
    width: 710px;
    margin: 0;
    margin-top: 30px;
    font-size: 36px;
  }
}

.lecture__game {
  margin-bottom: 22px;

  @media (min-width: 1366px) {
    grid-column: 1/1;
    grid-row: 1/2;
    width: 530px;
  }
}

.lecture__info {
  display: block;
  width: 335px;
  margin: 0 auto;
  margin-top: 46px;
  font-size: 20px;

  @media (min-width: 1366px) {
    position: relative;
    grid-column: 2/2;
    grid-row: 2/2;
    width: 710px;
    margin: 0;
    margin-top: 65px;

    &::after {
      position: absolute;
      transform: rotate(90deg) translate(-193px, -182px);
      width: 248px;
      height: 2px;
      content: "";
      background-color: #d0d0d0;
    }
  }
}

.info__wrapper {
  display: block;

  @media (min-width: 1366px) {
    display: grid;
    grid-template-columns: 322px 380px;
    grid-template-rows: 40px;
    width: 710px;
    height: 34px;
  }
}

.info__wrapper span {

  @media (min-width: 1366px) {
    grid-column: 1/1;
    align-self: center;
  }
}

.info__wrapper p {
  @media (min-width: 1366px) {
    display: flex;
  }
}

.info__wrapper b {

  @media (min-width: 1366px) {
    grid-column: 2/2;
    align-self: center;
  }
}

hr {
  border: 1px solid #d0d0d0
}

del {
  text-decoration-color: red;
}

.info__qustion {
  margin-top: 40px;
  font-size: 18px;
  color: #3057a2;

  @media (min-width: 1366px) {
    font-size: 20px;
    margin: 0;
    margin-top: 47px;
  }
}

.stages {
  position: relative;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 122px;

  @media (min-width: 1366px) {
    width: 1222px;
    margin-bottom: 201px;
  }
}

.stages__title {
  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: 1366px) {
    position: relative;
    width: 800px;
    margin: 0;
    margin-bottom: 53px;
    font-size: 54px;
    line-height: 120%;
  }
}

.stages__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #3057a2;
  margin-bottom: 130px;
  margin: 0;
  margin-bottom: 148px;

  @media (min-width: 1366px) {
    position: absolute;
    top: 71px;
    left: 301px;
    width: 280px;
    margin: 0;
    font-size: 20px;
    line-height: 120%;
  }
}

.stages__image {
  position: absolute;
  top: 195px;
  left: 0;
  content: "";
  width: 335px;
  height: 182px;
  z-index: 1;

  @media (min-width: 1366px) {
    width: 405px;
    height: 250px;
    left: 855px;
    top: 330px;
  }
}

.slider {
  width: 335px;
  height: 300px;
  overflow: hidden;
  background-image: url("/test-landing-yandex/images/slider-background.png");
  margin: 0 auto;
  margin-bottom: 27px;
  box-sizing: border-box;
  padding: 63px 20px 35px 20px;

  @media (min-width: 1366px) {
    width: 1222px;
    height: 400px;
    background-image: none;
    padding: 0;
    margin: 0;
  }
}

.slider__box {
  width: 330px;
  display: flex;
  transition: transform 0.5s ease-in-out;

  @media (min-width: 1366px) {
    display: grid;
    grid-template-columns: 394px 394px 394px;
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
  }
}

.slider__card {
  @media (min-width: 1366px) {
    width: 394px;
    height: 112px;
    overflow: hidden;
    background-image: url("../images/grid-backgrounf.png");
  }
}

.slider__card--12 {
  @media (min-width: 1366px) {
    display: none;
  }
}

.slider__card--1 {
  display: none;

  @media (min-width: 1366px) {
    display: block;
  }
}

.slider__card--2 {
  display: none;

  @media (min-width: 1366px) {
    display: block;
  }
}

.slider__card--3 {
  @media (min-width: 1366px) {
    grid-column: 3/3;
    grid-row: 1/2;
    height: 244px;
    background-image: url("../images/grid-background-3.png");
  }
}

.slider__card--45 {
  @media (min-width: 1366px) {
    display: none;
  }
}

.slider__card--4 {
  display: none;

  @media (min-width: 1366px) {
    display: block;
  }
}

.slider__card--5 {
  display: none;

  @media (min-width: 1366px) {
    display: block;
  }
}

.slider__card--6 {
  @media (min-width: 1366px) {
    grid-column: 1/1;
    grid-row: 3/3;
    height: 136px;
    background-image: url("../images/grid-background-6.png");
  }
}

.slider__card--7 {
  @media (min-width: 1366px) {
    grid-column: 2/3;
    grid-row: 3/3;
    width: 803px;
    height: 136px;
    background-image: url("../images/grid-background-7.png");
  }
}

.slider__card-block {
  display: flex;
  width: 310px;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 30px;

  @media (min-width: 1366px) {
    width: 352px;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
  }
}

.slider__card-block--7 {
  @media (min-width: 1366px) {
    width: 460px;
  }
}

.slider__card-number {
  display: inline-block;
  width: 36px;
  height: 29px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  padding-top: 7px;
  font-weight: 700;
}

.slider__card-text {
  width: 240px;
  margin: 0;

  @media (min-width: 1366px) {
    width: 300px;
    font-size: 20px;
    line-height: 120%;
  }
}

.slider__card-text--7 {
  @media (min-width: 1366px) {
    width: 410px;
  }
}

.slider__nav {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 36px;
  margin: 0 auto;

  @media (min-width: 1366px) {
    display: none;
  }
 }

.slider__dots-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 75px;
}

.slider__prev-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #313131;
  cursor: pointer;
  background-image: url("/test-landing-yandex/images/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  z-index: 1;

  &:hover {
    background-color: #fbce51;
  }

  &:active {
    background-color: #313131;
  }
}

.slider__next-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #313131;
  cursor: pointer;
  background-image: url("/test-landing-yandex/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  z-index: 1;

  &:hover {
    background-color: #fbce51;
  }

  &:active {
    background-color: #313131;
  }
}

.slider__prev-button--disable,
.slider__next-button--disable {
  opacity: 20%;

  &:hover {
    background-color: #313131;
    cursor: default;
  }
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;

  &:hover {
    opacity: 50%;
    cursor: pointer;
  }
}

.slider__dot--active {
  background-color: #313131;

  &:hover {
    opacity: 100%;
    cursor: default;
  }
}

.participants {
  width: 335px;
  margin: 0 auto;
  margin-bottom: 100px;

  @media (min-width: 1366px) {
    position: relative;
    width: 1222px;
    margin-bottom: 118px;
  }
}

.participants__title {
  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: 1366px) {
    position: relative;
    font-size: 54px;
    line-height: 120%;
    margin-bottom: 59px;
  }
}

.participant {
  width: 335px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: 1366px) {
    width: 1222px;
  }
}

.participant__box {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 20px;

  @media (min-width: 1366px) {
    padding-left: 12px;
  }
}

.participant__card {
  @media (min-width: 1366px){
    margin-right: 48px;
  }
}

.participant__card img {
  display: block;
  width: 244px;
  margin: 0 auto;
  margin-bottom: 32px;

  @media (min-width: 1366px) {
    width: 320px;
  }
}

.participant__name {
  width: 335px;
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  text-align: center;

  @media (min-width: 1366px) {
    width: 359px;
    margin-bottom: 12px;
  }
}

.participant__level {
  margin: 0;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 700;
  opacity: 60%;
  text-align: center;

  @media (min-width: 1366px) {
    margin-bottom: 20px;
  }
}

.participant__info{
  display: block;
  width: 113px;
  min-height: 28px;
  padding-top: 7px;
  margin: 0 auto;
  font-size: 16px;
  text-decoration: none;
  color: #3057a2;
  border: 1px solid #3057a2;
  border-radius: 24px;
  text-align: center;
  transition: all 0.15s ease-in;

  @media (min-width: 1366px) {
    min-height: 26px;
    font-weight: 600;
  }

  &:hover {
    color: #ffffff;
    background-color: #3057a2;
    transition: all 0.15s ease-in;
  }
}

.participant__nav {
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 36px;
  margin: 0 auto;

  @media (min-width: 1366px) {
    position: absolute;
    content: "";
    top: 9px;
    right: 0px;
    width: 151px;
    height: 44px;
  }
 }

.participant__prev-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #313131;
  cursor: pointer;
  background-image: url("../images/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  z-index: 1;

  @media (min-width: 1366px) {
    width: 44px;
    height: 44px;
    background-image: url("../images/arrow-left-desktop.svg");
  }

  &:hover {
    background-color: #fbce51;
  }

  &:active {
    background-color: #313131;
  }
}

.participant__count-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 30px;

  @media (min-width: 1366px) {
    width: 35px;
  }
}

.participant__counter {
  font-size: 16px;
}

.participant__count {
  font-size: 16px;
  opacity: 60%;
}

.participant__next-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #313131;
  cursor: pointer;
  background-image: url("/test-landing-yandex/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  z-index: 1;

  @media (min-width: 1366px) {
    width: 44px;
    height: 44px;
    background-image: url("../images/arrow-right-desktop.svg");
  }

  &:hover {
    background-color: #fbce51;
  }

  &:active {
    background-color: #313131;
  }
}

.slider__dot--active {
  background-color: #313131;

  &:hover {
    opacity: 100%;
    cursor: default;
  }
}

.footer__ticker {
  margin: 0;
}

.footer__disclamer {
  margin: 0;
  padding: 40px 20px 60px 20px;
  font-size: 16px;
  line-height: 120%;
  opacity: 60%;
  background-color: #e9ded4;

  @media (min-width: 1366px) {
    padding: 41px 72px 72px 72px;
  }
}
